.home {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200vh;
    /*background-image: url('path_to_your_image.jpg');*/
    background-size: cover;
    background-position: center;
    color: #141313; /* Set text color to white for better contrast */
}

.calendar-container {
    margin-bottom: 20px;
    background-color: rgba(222, 135, 30, 0.806); /* Add a semi-transparent white background */
    padding: 20px;
    border-radius: 5px;
}

.custom-calendar {
    width: 400px;
    max-width: 100%;
    border: none;
}

.digital-clock {
    font-size: 2rem;
    font-weight: bold;
    color: #fafafa;
}

.digital-clock-container {
    margin-top: 20px;
    background-color: rgba(222, 135, 30, 0.806); /* Add a semi-transparent white background */
    padding: 20px;
    border-radius: 5px;
}

/* Styles for the white box */
.white-box {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    border: 2px solid #24b844;
}

/* Styles for the current date */
.current-date {
    background-color: #eded1057 !important; /* Green background for the current date */
    color: white !important; /* White text color for the current date */
    border-radius: 50% !important; /* Make the current date circular */
}
.header {
    margin-top: 20px;
}

.calendar-container,
.digital-clock-container {
    margin-top: 100px;
}
