/* Navbar.css */

.navbar {
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark text color */
    border-bottom: 1px solid #ccc; /* Gray border bottom */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    font-family: 'Arial', sans-serif; /* Choose a suitable font */
    padding: 10px 20px;
  }
  
  .p-menuitem-link {
    color: #333; /* Dark text color for menu items */
    font-weight: bold; /* Bold font weight */
    text-transform: uppercase; /* Uppercase text */
    text-decoration: none; /* Remove underline from links */
    padding: 0 10px; /* Padding for menu items */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center vertically */
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .p-menuitem-link:hover {
    background-color: #e9ecef; /* Light gray background on hover */
    transform: scale(1.1);
  }
  
  .p-menuitem-link i {
    margin-right: 5px; /* Add margin between icon and text */
  }
  
  /* Add more styles as needed */
  